@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

*{
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: 'Oleo Script', cursive;
    justify-content: center;
    display: flex;
    align-items: center;
}

h1{
    margin: 0;
    padding: 10px;
}
