*{
    box-sizing: border-box;
    margin: 0;
}


body {
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient( #2980B9, #6DD5FA, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient( #2980B9, #6DD5FA, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

div {
    margin: 1rem;
    width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }


.traffic-lights {
    background-color: #333;
    border-radius: 25px;
    padding: 3rem 0;
    width: 8rem;

}

.bulb {
    height: 5rem;
    width: 5rem;
    background-color: #111;
    border-radius: 2px solid #444;
    border-radius: 50%;
    box-shadow: 3px 10px 0 rgba(0,0,0,.25) inset, -6px 4px 0 rgba(205,205,205,.15) inset;
}

.bulb::before {
    content: " ";
    width: 5rem;
    height: 2.5rem;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border: solid #555;
    border-width: 0;
    border-top-width: .5rem;
  }


  .bulb.red {
	background-color: #c0392b;
	box-shadow: 0 0 20px 5px #c0392b;
}

.bulb.yellow {
	background-color: #f1c40f;
	box-shadow: 0 0 20px 5px #f1c40f;
}

.bulb.green {
	background-color: #2ecc71;
	box-shadow: 0 0 20px 5px #2ecc71;
}