@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
}


body{
    background-color: #484848;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.container {
    max-width: 375px;
    max-height: 650px;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 5px;
    color: #4a4a4a;
    padding: 20px;

}


.code-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 30px 10px;
    width: auto;
}

p{
    font-size: 0.75rem;
    line-height: 2;
    opacity: 0.5;
    margin: 0 50px;
}

p small {
    text-transform: uppercase;
}

.code {
    border-radius: 5px;
    border: 2px solid rgb(207, 206, 206);
    font-size: 25px;
    text-align: center;
    height: 50px;
    width: 50px;
    font-weight: 300;
    margin: 0 20px;
}

.code:valid {
    border-color: rgb(189, 188, 188);
}

.code:focus{
    outline: none;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.btn {
    background-color: #ffb265;
    border: none;
    border-radius: 5px;
    height: 50px;
    padding: 0 100px;
    color: #f9f9f9;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 2px;    
}


.btn:focus{
    outline: none;
}

  